[submodule "Mathematical_programming/summary/s.nastya_mathprog_till2009-04-06"]
	path = Mathematical_programming/summary/s.nastya_mathprog_till2009-04-06
	url = git@github.com:rutsky/s.nastya_mathprog_till2009-04-06.git
