# Ignoring Code::Blocks stuff.
bin/
obj/
*.save
*.depend
*.layout
# Ignoring Qt Creator stuff.
simplex_algorithm.pro.user
simplex_algorithm
Makefile
Makefile.Debug
Makefile.Release
qtc-gdbmacros/
debug/
release/
